
<header>
  <!--We now need to make a container for part of our code-->
  <div class="container"> <!--Div Defines a seciton or divison in a HTML Document-->
    <a href="#" class="logo">Cool App</a><!--Link to Logo-->
    <nav> <!--Navigation Links-->
      <ul> <!--Unordered Bulleted List-->
        <li><!--Ordered List--><a href="#" routerLink="/">Home</a></li> <!--RouterLink is how we link pages in Angular-->
        <li><!--Ordered List--><a href="#" routerLink="/list">Breweries</a></li>
      </ul>
    </nav>
  </div>
  </header>

  <div Class="container">
<router-outlet></router-outlet>
</div>